(edif fulladder
  (edifversion 2 0 0)
  (edifLevel 0)
  (keywordmap (keywordlevel 0))
(status
 (written
  (timeStamp 2023 05 13 15 40 26)
  (program "Vivado" (version "2021.1"))
  (comment "Built on 'Thu Jun 10 19:36:33 MDT 2021'")
  (comment "Built by 'xbuild'")
 )
)
  (Library hdi_primitives
    (edifLevel 0)
    (technology (numberDefinition ))
   (cell IBUF (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I (direction INPUT))
       )
     )
   )
   (cell OBUF (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I (direction INPUT))
       )
     )
   )
   (cell LUT3 (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I0 (direction INPUT))
        (port I1 (direction INPUT))
        (port I2 (direction INPUT))
       )
     )
   )
   (cell INV (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface
         (port I (direction INPUT))
         (port O (direction OUTPUT))
       )
     )
   )
  )
  (Library work
    (edifLevel 0)
    (technology (numberDefinition ))
   (cell fulladder (celltype GENERIC)
     (view fulladder (viewtype NETLIST)
       (interface 
        (port A_in (direction INPUT))
        (port B_in (direction INPUT))
        (port C_in (direction INPUT))
        (port C_out (direction OUTPUT))
        (port S_out (direction OUTPUT))
       )
       (contents
         (instance A_in_IBUF_inst (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance B_in_IBUF_inst (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance C_in_IBUF_inst (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance C_out_OBUF_inst (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance C_out_OBUF_inst_i_1 (viewref netlist (cellref LUT3 (libraryref hdi_primitives)))
           (property INIT (string "8'hE8"))
           (property SOFT_HLUTNM (string "soft_lutpair0"))
         )
         (instance S_out_OBUF_inst (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance S_out_OBUF_inst_i_1 (viewref netlist (cellref LUT3 (libraryref hdi_primitives)))
           (property INIT (string "8'h96"))
           (property SOFT_HLUTNM (string "soft_lutpair0"))
         )
         (net A_in (joined
          (portref I (instanceref A_in_IBUF_inst))
          (portref A_in)
          )
         )
         (net A_in_IBUF (joined
          (portref I1 (instanceref C_out_OBUF_inst_i_1))
          (portref I1 (instanceref S_out_OBUF_inst_i_1))
          (portref O (instanceref A_in_IBUF_inst))
          )
         )
         (net B_in (joined
          (portref I (instanceref B_in_IBUF_inst))
          (portref B_in)
          )
         )
         (net B_in_IBUF (joined
          (portref I0 (instanceref S_out_OBUF_inst_i_1))
          (portref I2 (instanceref C_out_OBUF_inst_i_1))
          (portref O (instanceref B_in_IBUF_inst))
          )
         )
         (net C_in (joined
          (portref I (instanceref C_in_IBUF_inst))
          (portref C_in)
          )
         )
         (net C_in_IBUF (joined
          (portref I0 (instanceref C_out_OBUF_inst_i_1))
          (portref I2 (instanceref S_out_OBUF_inst_i_1))
          (portref O (instanceref C_in_IBUF_inst))
          )
         )
         (net C_out (joined
          (portref O (instanceref C_out_OBUF_inst))
          (portref C_out)
          )
         )
         (net C_out_OBUF (joined
          (portref I (instanceref C_out_OBUF_inst))
          (portref O (instanceref C_out_OBUF_inst_i_1))
          )
         )
         (net S_out (joined
          (portref O (instanceref S_out_OBUF_inst))
          (portref S_out)
          )
         )
         (net S_out_OBUF (joined
          (portref I (instanceref S_out_OBUF_inst))
          (portref O (instanceref S_out_OBUF_inst_i_1))
          )
         )
       )
     )
   )
  )
(comment "Reference To The Cell Of Highest Level")

  (design fulladder
    (cellref fulladder (libraryref work))
    (property XLNX_PROJ_DIR (string "D:/work/fpganow/labview_ip_node/xilinx/fulladder"))
    (property part (string "xc7k410tffg900-2"))
  )
)
